html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
h3 {
    font-size: 15px;
}
.wrapper {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background: #27292f;

    overflow-y: scroll;

}

.legend-wrapper {
    width: 500px;
    display: flex;
    font-size: 13px;
}

.scatter-plot {
    width: 800px;
    height: 700px;
    padding: 5px;
    padding-top: 0;
    display: flex;
}

.bar { fill: #8cd1c4; }

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: #bbbdbb;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis path {
    stroke: transparent;
}

.axis--x path, .axis path{
    stroke: #bbbdbb;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.tick text {
    fill: #bbbdbb;
    user-select: none;
}

.tick line {
    stroke: #bbbdbb;
}
.dot {


    fill-opacity: 0;


    stroke-opacity: 0.6;
    shape-rendering: crispEdges;


}

.hidden {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.dot.dot_red {
    stroke: #aa3232;
    fill: #aa3232;
}

.dot.dot_blue{
    stroke: #3232aa;
    fill: #3232aa;
}

.axis-label {
    fill: #bbbdbb;
    user-select: none;
}

.legend {
    margin-top: 10px;
    width: 150px;
    display: flex;
    color: #bbbdbb;
    flex-direction: column;
}

.legend.disease-legend.legend {
    width: 300px;
}

.legend.gender-legend.legend {
    width: 100px;
    margin-right: 10px;
}

.legend--item {
    margin: 5px 0;
}

.gender-legend--item {
    margin: 4px 0;
}

.legend--item-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    /*margin-bottom: 1px;*/
}

.gender-legend--item svg {
    margin-right: 7px;
}

.legend input {
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    /*top: -1px;*/
}

.legend .clickable {
    cursor: pointer;
}

.legend h3 {
    margin-bottom: 3px;
}

/**
 * Tooltips
 */
.d3-tip {
    background: #000;
    font-size: 13px;
    color: #bbbdbb;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.d3-tip .label{
    font-weight: 800;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}