html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

h3 {
    font-size: 15px;
}

.wrapper {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background: #27292f;

    overflow-y: scroll;

}

.legend-wrapper {
    width: 500px;
    display: flex;
    font-size: 13px;
}

.scatter-plot {
    display: flex;

    width: 800px;
    height: 700px;

    padding: 5px;
    padding-top: 0;

    border: 1px solid #444;

}

/**
 * Tooltips
 */
.d3-tip {
    background: #000;
    font-size: 13px;
    color: #bbbdbb;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.d3-tip .label{
    font-weight: 800;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
